.Die{
    color: white;
    margin: 0 0.2rem;
    padding: 0;
}

.Die-spin{
    animation: spin 1s ease-in-out;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}